/* @font-face kit by Fonts2u (https://fonts2u.com) */

@font-face {
    font-family: "Blue North Inline Grunge";
    src: url("BlueNorthInlineGrunge.eot?") format("eot"), url("BlueNorthInlineGrunge.woff") format("woff"), url("BlueNorthInlineGrunge.ttf") format("truetype"), url("BlueNorthInlineGrunge.svg#BlueNorthInlineGrunge") format("svg");
    font-weight: normal;
    font-style: normal;
}